<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Buzzword Bingo Hall</title>

    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,600,800"
          rel="stylesheet" type="text/css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script defer type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/app.js") %>">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js">
    </script>

  </head>
  <body>

    <header>
      <nav>
        <ul class="nav nav-pills pull-right">
          <li>
            <%= link "Switch Player", to: Routes.session_path(@conn, :delete),
                     method: :delete %>
          </li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="letters">
            <span class="letter inverse">B</span>
            <span class="letter">U</span>
            <span class="letter">Z</span>
            <span class="letter">Z</span>
            <span class="letter">W</span>
            <span class="letter">O</span>
            <span class="letter">R</span>
            <span class="letter">D</span>
            <span class="letter inverse">B</span>
            <span class="letter">I</span>
            <span class="letter">N</span>
            <span class="letter">G</span>
            <span class="letter">O</span>
          </div>
        </div>
      </div>
    </header>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %>
      </p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %>
      </p>
      <%= @inner_content %>
    </main>

    <footer>
      built with
      <a href="http://elixir-lang.org/" target="_blank">Elixir</a> +
      <a href="http://www.phoenixframework.org/" target="_blank">Phoenix</a> +
      <a href="https://vuejs.org/" target="_blank">Vue</a>
      by
      <a href="https://twitter.com/pragmaticstudio"
          target="_blank">@pragmaticstudio</a>
    </footer>

  </body>
</html>
